#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100dvh;
  overflow: hidden;

  @media (width <= 56.25em) {
    height: initial;
    grid-template-columns: 1fr;
    overflow: initial;
  }
}

main,
aside {
  padding: 6.4rem;
}

main {
  overflow: auto;

  & .main-container {
    max-width: 52.8rem;
    margin-left: auto;

    @media (width <= 56.25em) {
      margin-inline: auto;
    }
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
  }

  & h1 {
    margin-bottom: 0.8rem;
    font: 600 2.4rem/1.25 var(--font-family);
  }

  @media (width <= 56.25em) {
    padding: 2.4rem;
    overflow: initial;
  }
}

aside {
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 49.6rem;
    margin-right: auto;

    & > img {
      width: 100%;
      margin-top: 3.2rem;
    }
  }

  & h2 {
    margin-block: 0.8rem;
    font: 600 4rem/1.25 var(--font-family);

    & span {
      color: var(--text-highlight);
    }
  }

  @media (width <= 56.25em) {
    order: -1;
    padding: 2.4rem;

    & h2,
    & p {
      display: none;
    }

    & .aside-container {
      margin-inline: auto;

      & header > img {
        margin-inline: auto;
      }
    }
  }
}
