#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100dvh;
  overflow: hidden;
}

main,
aside {
  padding: 6.4rem;
}

main {
  overflow: auto;

  & .main-container {
    max-width: 52.8rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
  }

  & h1 {
    margin-bottom: 0.8rem;
    font: 600 2.4rem/1.25 var(--font-family);
  }
}

aside {
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 49.6rem;
    margin-right: auto;

    & > img {
      width: 100%;
      margin-top: 3.2rem;
    }
  }

  & h2 {
    margin-block: 0.8rem;
    font: 600 4rem/1.25 var(--font-family);

    & span {
      color: var(--text-highlight);
    }
  }
}
