label + .radio-wrapper {
  margin-top: 1.6rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.6rem;
}

.radio-inner {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 0.8rem;
  padding: 3.2rem 0.8rem 1.6rem;
  border: 0.2rem solid transparent;
  outline: 0.1rem solid var(--stroke-default);
  border-radius: 0.8rem;

  &::before {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    outline: 0.1rem solid var(--stroke-default);
    border-color: var(--stroke-default);
    border-radius: 50%;
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    outline-color: var(--stroke-highlight);

    &::before {
      outline-color: var(--stroke-highlight);
    }
  }

  &:has(:checked) {
    border-width: 0.2rem;
    border-color: var(--stroke-highlight);
    outline-color: transparent;

    &::before {
      outline-color: transparent;
      background: url('../../assets/icons/check.svg') no-repeat center/1rem
        var(--stroke-highlight);
    }
  }

  & input {
    width: 100%;
    height: 100%;
  }

  & label {
    margin-bottom: 0rem;
  }
}
